openapi: 3.0.3
info:
  title: SpaPortal API v2
  version: "2.0"
  description: Future public API version for new endpoints and breaking improvements.
servers:
  - url: https://spaportal.cz/api/v2
    description: Production
  - url: https://staging.spaportal.cz/api/v2
    description: Staging
security:
  - bearerAuth: []
  - accessTokenQuery: []
tags:
  - name: Availability
paths:
  /calendar/dates/bulk:
    post:
      tags: [Availability]
      summary: Get calendar dates in bulk
      operationId: getCalendarDatesBulk
      description: Batch multiple calendar date lookups into one request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarDatesBulkRequest"
      responses:
        "200":
          description: Calendar date results for each item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarDatesBulkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    accessTokenQuery:
      type: apiKey
      in: query
      name: access_token
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Resource exists but cannot be used for this request.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    CalendarDatesBulkRequest:
      type: object
      required: [items]
      properties:
        shared:
          $ref: "#/components/schemas/CalendarDatesBulkQuery"
        items:
          type: array
          minItems: 1
          maxItems: 20
          items:
            $ref: "#/components/schemas/CalendarDatesBulkQueryWithKey"
    CalendarDatesBulkQuery:
      type: object
      properties:
        visit_type_id:
          type: integer
          nullable: true
        hotel_id:
          type: integer
          nullable: true
        room_type_id:
          type: integer
          nullable: true
        destination_id:
          type: integer
          nullable: true
        guests:
          type: integer
          nullable: true
        date_from:
          type: string
          format: date
          nullable: true
        date_to:
          type: string
          format: date
          nullable: true
    CalendarDatesBulkQueryWithKey:
      allOf:
        - $ref: "#/components/schemas/CalendarDatesBulkQuery"
        - type: object
          properties:
            key:
              type: string
              maxLength: 100
              description: Optional client key returned with the matching result.
    CalendarDatesBulkResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                nullable: true
              data:
                type: array
                items:
                  $ref: "#/components/schemas/CalendarDate"
    CalendarDate:
      type: object
      properties:
        date:
          type: string
          format: date
        selectable:
          type: boolean
          nullable: true
        availability:
          type: string
          enum: [NOT_AVAILABLE, AVAILABLE, ON_DEMAND]
        price:
          type: object
          nullable: true
          additionalProperties: true
    ErrorResponse:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
