openapi: 3.0.3
info:
  title: SpaPortal API v2
  version: "2.0"
  description: Future public API version for new endpoints and breaking improvements.
servers:
  - url: https://spaportal.cz/api/v2
    description: Production
security:
  - spaPortalPublicKey: []
tags:
  - name: Availability
  - name: Hotels
  - name: Room types
  - name: Amenities
paths:
  /amenities:
    get:
      tags: [Amenities]
      summary: List the amenity dictionary
      operationId: getAmenities
      x-mint:
        content: |
          <Warning>
            **Draft — not yet available.** This is a work-in-progress contract
            for an endpoint that is not implemented yet. It may change before
            release; do not build against it.
          </Warning>
      description: |
        Returns the controlled amenity vocabulary - the catalog of possible
        amenities, each with a stable `code`, a `category`, a `scope`, value
        typing and localized labels. Fetch once to power amenity filters and to
        resolve the `code`s returned in hotel and room-type `amenities`. This is
        a small reference list, returned in full (not paginated).
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
        - $ref: "#/components/parameters/RequestId"
        - name: scope
          in: query
          schema:
            type: string
            enum: [hotel, roomType, both]
          description: Filter to amenities applicable at this scope.
        - name: category
          in: query
          schema:
            type: string
          description: Filter to a single category.
      responses:
        "200":
          description: The amenity dictionary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AmenitiesList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /calendar/dates/bulk:
    post:
      tags: [Availability]
      summary: Get calendar dates in bulk
      operationId: getCalendarDatesBulk
      description: |
        Returns availability and prices for multiple calendar queries in one
        request.

        Put values common to all items in `shared`; set only the differences per
        item. Each item's effective query resolves like this:

        | Case | Result |
        | --- | --- |
        | Field omitted from the item | The `shared` value is used. |
        | Field set on the item | The item value overrides `shared`. |
        | Field set to `null` on the item | `null` is used; `shared` is ignored. |
        | Field missing from both | `null` is used. |

        Results are returned one per item, in request order; `key` is echoed when
        supplied. `price.amounts` includes every currency that has a price for
        the date - a currency with no price is omitted.

        If any item fails, the whole request fails (no partial results); the
        error details name the failing item index and `key`.
      parameters:
        - $ref: "#/components/parameters/RequestId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalendarDatesBulkRequest"
      responses:
        "200":
          description: Calendar date results for each item.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalendarDatesBulkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /hotels:
    get:
      tags: [Hotels]
      summary: List hotels
      operationId: getHotels
      x-mint:
        content: |
          <Warning>
            **Draft — not yet available.** This is a work-in-progress contract
            for an endpoint that is not implemented yet. It may change before
            release; do not build against it.
          </Warning>
      description: |
        Returns active hotels across the companies your public key is scoped to.
        Each hotel includes `priceFrom`, the indicative cheapest ("from") price
        computed server-side. This is not an availability check and takes no
        pricing query parameters. Localized fields (`name`, `description`,
        `commercialSlogan`, `equipment`, `services`) return the locale keys
        selected by `Accept-Language`. `name` falls back to the default locale
        (cs-CZ) and is never null.
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
        - $ref: "#/components/parameters/RequestId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Number of records to return.
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor from the previous page's `pagination.nextCursor`.
        - name: search
          in: query
          schema:
            type: string
          description: >-
            Full-text search of the hotel name across all supported languages
            (case- and diacritics-insensitive).
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt:desc, createdAt:asc, id:asc, id:desc]
            default: createdAt:desc
          description: Sort order. Ties are broken by `id`.
        - name: amenities
          in: query
          schema:
            type: string
          description: >-
            Draft. Comma-separated amenity `code`s; returns only hotels that have
            ALL listed amenities available (AND semantics).
            E.g. `wellness.sauna,parking.parking`.
        - name: amenityCategory
          in: query
          schema:
            type: string
          description: >-
            Draft. Returns hotels that have any available amenity in this
            category (e.g. `wellness`).
        - name: expand
          in: query
          schema:
            type: string
            enum: [roomTypes]
          description: >-
            Expand related resources inline. Set to `roomTypes` to embed each
            hotel's room types in the response (otherwise fetch them separately
            via `GET /room-types?hotelId={hotelId}`).
      responses:
        "200":
          description: A paginated list of hotels.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HotelsList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /hotels/{hotelId}:
    get:
      tags: [Hotels]
      summary: Get a hotel
      operationId: getHotel
      x-mint:
        content: |
          <Warning>
            **Draft — not yet available.** This is a work-in-progress contract
            for an endpoint that is not implemented yet. It may change before
            release; do not build against it.
          </Warning>
      description: Returns a single hotel by id.
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
        - $ref: "#/components/parameters/RequestId"
        - name: hotelId
          in: path
          required: true
          schema:
            type: string
            pattern: "^[0-9a-fA-F]{24}$"
          description: Hotel id.
        - name: expand
          in: query
          schema:
            type: string
            enum: [roomTypes]
          description: >-
            Expand related resources inline. Set to `roomTypes` to embed the
            hotel's room types in the response (otherwise fetch them separately
            via `GET /room-types?hotelId={hotelId}`).
      responses:
        "200":
          description: The hotel.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hotel"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /room-types:
    get:
      tags: [Room types]
      summary: List room types
      operationId: getRoomTypes
      description: |
        Returns active room types across the companies your public key is scoped
        to. Localized fields (`category`, `description`) return the locale keys
        selected by `Accept-Language`.
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
        - $ref: "#/components/parameters/RequestId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          description: Number of records to return.
        - name: cursor
          in: query
          schema:
            type: string
          description: Cursor from the previous page's `pagination.nextCursor`.
        - name: hotelId
          in: query
          schema:
            type: string
            pattern: "^[0-9a-fA-F]{24}$"
          description: Filter by hotel id.
        - name: beds
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 10
          description: Filter by number of beds.
        - name: code
          in: query
          schema:
            type: string
          description: Filter by exact room type code.
        - name: search
          in: query
          schema:
            type: string
          description: >-
            Full-text search of the localized category name across all supported
            languages (case- and diacritics-insensitive). To match a code, use
            `code`.
        - name: expand
          in: query
          schema:
            type: string
            enum: [hotel]
          description: Set to `hotel` to embed the hotel in each room type.
        - name: sort
          in: query
          schema:
            type: string
            enum: [createdAt:desc, createdAt:asc, id:asc, id:desc]
            default: createdAt:desc
          description: Sort order. Ties are broken by `id`.
      responses:
        "200":
          description: A paginated list of room types.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomTypesList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /room-types/{roomTypeId}:
    get:
      tags: [Room types]
      summary: Get a room type
      operationId: getRoomType
      description: Returns a single room type by id.
      parameters:
        - $ref: "#/components/parameters/AcceptLanguage"
        - $ref: "#/components/parameters/RequestId"
        - name: roomTypeId
          in: path
          required: true
          schema:
            type: string
            pattern: "^[0-9a-fA-F]{24}$"
          description: Room type id.
        - name: expand
          in: query
          schema:
            type: string
            enum: [hotel]
          description: Set to `hotel` to embed the hotel.
      responses:
        "200":
          description: The room type.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomType"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  parameters:
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      schema:
        type: string
      description: Optional client-provided request identifier echoed in error responses.
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: false
      schema:
        type: string
        example: cs-CZ,de
      description: >-
        Comma-separated BCP 47 language tags selecting which locale keys
        localized fields return. When omitted, all locale keys are returned.
  securitySchemes:
    spaPortalPublicKey:
      type: apiKey
      in: header
      name: X-SpaPortal-Public-Key
  responses:
    BadRequest:
      description: Invalid request.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Invalid API key.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Request conflicts with current state or scoped context.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    UnprocessableEntity:
      description: Resource exists but cannot be used for this request.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: Unexpected server error.
      headers:
        X-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  headers:
    RequestId:
      description: Request identifier for support and debugging.
      schema:
        type: string
  schemas:
    CalendarDatesBulkRequest:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        shared:
          $ref: "#/components/schemas/CalendarDatesBulkQuery"
        items:
          type: array
          minItems: 1
          maxItems: 20
          items:
            $ref: "#/components/schemas/CalendarDatesBulkQueryWithKey"
    CalendarDatesBulkQuery:
      type: object
      additionalProperties: false
      properties:
        visitTypeId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Visit type id.
          nullable: true
        hotelId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Hotel id.
          nullable: true
        roomTypeId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Room type id.
          nullable: true
        destinationId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Destination id.
          nullable: true
        guests:
          type: integer
          minimum: 1
          maximum: 2
          nullable: true
        dateFrom:
          type: string
          format: date
          nullable: true
        dateTo:
          type: string
          format: date
          nullable: true
    CalendarDatesBulkQueryWithKey:
      type: object
      additionalProperties: false
      properties:
        visitTypeId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Visit type id.
          nullable: true
        hotelId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Hotel id.
          nullable: true
        roomTypeId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Room type id.
          nullable: true
        destinationId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          description: Destination id.
          nullable: true
        guests:
          type: integer
          minimum: 1
          maximum: 2
          nullable: true
        dateFrom:
          type: string
          format: date
          nullable: true
        dateTo:
          type: string
          format: date
          nullable: true
        key:
          type: string
          maxLength: 100
          description: Optional client key returned with the matching result.
    CalendarDatesBulkResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                nullable: true
              data:
                type: array
                items:
                  $ref: "#/components/schemas/CalendarDate"
    CalendarDate:
      type: object
      properties:
        date:
          type: string
          format: date
        selectable:
          type: boolean
          nullable: true
        availability:
          type: string
          enum: [NOT_AVAILABLE, AVAILABLE, ON_DEMAND]
        price:
          allOf:
            - $ref: "#/components/schemas/CalendarDatePrice"
          nullable: true
    CalendarDatePrice:
      type: object
      required: [isFinal, amounts]
      properties:
        isFinal:
          type: boolean
        amounts:
          type: object
          properties:
            CZK:
              allOf:
                - $ref: "#/components/schemas/Money"
              nullable: true
            EUR:
              allOf:
                - $ref: "#/components/schemas/Money"
              nullable: true
    Money:
      type: object
      required: [amountMinor, currency, currencyExponent]
      properties:
        amountMinor:
          type: integer
          description: Amount in the smallest currency unit.
          example: 180000
        currency:
          type: string
          enum: [CZK, EUR]
        currencyExponent:
          type: integer
          enum: [2]
          description: Decimal exponent for the currency.
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - invalid_request
                - missing_authentication
                - invalid_authentication
                - insufficient_scope
                - not_found
                - conflict
                - rate_limited
                - internal_error
            message:
              type: string
            details:
              type: array
              items:
                type: object
                additionalProperties: true
            requestId:
              type: string
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        nullable: true
      description: >-
        Localized field keyed by supported response locale (`cs-CZ`, `de`, `en`,
        `ru`). When `Accept-Language` is set, only the matched keys are returned.
      example:
        cs-CZ: Superior dvouluzkovy pokoj
        de: Superior Doppelzimmer
    Image:
      type: object
      required: [url, thumbnailUrl]
      properties:
        url:
          type: string
          description: Original image URL.
        thumbnailUrl:
          type: string
          nullable: true
          description: Generated preview image URL, or null when unavailable.
    RoomType:
      type: object
      required:
        - id
        - hotelId
        - code
        - category
        - beds
        - facilities
        - images
        - description
      properties:
        id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 66f16191f739705faa020003
        hotelId:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 66f16191f739705faa020001
        code:
          type: string
          nullable: true
          example: SUPERIOR-DBL
        category:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized category name (plain text).
        beds:
          type: integer
          example: 2
        facilities:
          type: array
          items:
            type: string
          example: [shower, toilet]
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        description:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized description (Markdown).
        amenities:
          type: array
          description: >-
            Draft — not yet implemented. Structured, filterable amenities for the
            room type (amenities whose `scope` is `roomType` or `both`). Resolve
            each `code` against `GET /amenities`. Will eventually supersede the
            free-text `facilities` list.
          items:
            $ref: "#/components/schemas/AmenityValue"
        hotel:
          type: object
          description: Embedded only when `expand=hotel`.
          required: [id, name, stars]
          properties:
            id:
              type: string
              pattern: "^[0-9a-fA-F]{24}$"
              example: 66f16191f739705faa020001
            name:
              allOf:
                - $ref: "#/components/schemas/LocalizedString"
              description: >-
                Localized hotel name. Falls back to the default locale (cs-CZ),
                so it is never null.
              example:
                cs-CZ: Pawlik
                de: Pawlik-Aquaforum
            stars:
              type: integer
              nullable: true
              minimum: 1
              maximum: 5
              example: 4
    Pagination:
      type: object
      required: [limit, nextCursor, hasMore, total]
      properties:
        limit:
          type: integer
          example: 25
        nextCursor:
          type: string
          nullable: true
          description: Pass as `cursor` to fetch the next page. Null on the last page.
        hasMore:
          type: boolean
        total:
          type: integer
          description: Total number of matching records across all pages.
    RoomTypesList:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/RoomType"
        pagination:
          $ref: "#/components/schemas/Pagination"
    HotelAddress:
      type: object
      required: [addressLine, city, postalCode, countryCode]
      properties:
        addressLine:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        countryCode:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2 country code.
          example: CZ
    Hotel:
      type: object
      required:
        - id
        - name
        - stars
        - address
        - phoneNumber
        - description
        - commercialSlogan
        - equipment
        - services
        - images
        - priceFrom
      properties:
        id:
          type: string
          pattern: "^[0-9a-fA-F]{24}$"
          example: 66f16191f739705faa020001
        name:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: >-
            Localized hotel name (plain text). Falls back to the default locale
            (cs-CZ) when a requested locale has no value, so it is never null.
          example:
            cs-CZ: Pawlik
            de: Pawlik-Aquaforum
        stars:
          type: integer
          nullable: true
          minimum: 1
          maximum: 5
          example: 4
        address:
          $ref: "#/components/schemas/HotelAddress"
        phoneNumber:
          type: string
          nullable: true
        description:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized description (Markdown).
        commercialSlogan:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized marketing slogan (plain text).
        equipment:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized equipment description.
        services:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized services description.
        images:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        priceFrom:
          allOf:
            - $ref: "#/components/schemas/PriceFrom"
          nullable: true
          description: >-
            Indicative cheapest ("from") price for the hotel, or null when no
            active price list applies.
        amenities:
          type: array
          description: >-
            Draft — not yet implemented. Structured, filterable amenities for the
            hotel. Resolve each `code` against `GET /amenities` for its label,
            category and scope. Only present/conditional amenities are returned
            (pure unknowns are omitted).
          items:
            $ref: "#/components/schemas/AmenityValue"
        roomTypes:
          type: array
          description: >-
            Draft. The hotel's room types. Embedded only when `expand=roomTypes`;
            otherwise fetch them via `GET /room-types?hotelId={hotelId}`. Each
            item omits the nested `hotel` block (it is this hotel).
          items:
            $ref: "#/components/schemas/RoomType"
    HotelsList:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Hotel"
        pagination:
          $ref: "#/components/schemas/Pagination"
    PriceFromCurrency:
      type: object
      required:
        - perNight
        - perNightOriginal
        - minimumStay
        - minimumStayOriginal
        - guests
        - minimumNights
      properties:
        perNight:
          $ref: "#/components/schemas/Money"
        perNightOriginal:
          allOf:
            - $ref: "#/components/schemas/Money"
          nullable: true
          description: Pre-discount nightly price, or null when there is no discount.
        minimumStay:
          allOf:
            - $ref: "#/components/schemas/Money"
          description: Total price for `minimumNights` nights.
        minimumStayOriginal:
          allOf:
            - $ref: "#/components/schemas/Money"
          nullable: true
          description: >-
            Pre-discount total for the minimum stay, or null when there is no
            discount.
        guests:
          type: integer
          description: >-
            Occupancy the price applies to - the configuration where the cheapest
            offer was found (output, not an input).
          example: 2
        minimumNights:
          type: integer
          description: Minimum number of nights the offer requires.
          example: 2
    PriceFrom:
      type: object
      description: >-
        Indicative cheapest ("from") price for a hotel, keyed by currency.
        Computed server-side as the lowest available offer; not driven by query
        parameters. A currency key is present only when the hotel has a price in
        that currency.
      properties:
        CZK:
          allOf:
            - $ref: "#/components/schemas/PriceFromCurrency"
          nullable: true
        EUR:
          allOf:
            - $ref: "#/components/schemas/PriceFromCurrency"
          nullable: true
    Amenity:
      type: object
      required: [code, category, scope, valueType, supportsFree, label]
      description: >-
        Draft. A controlled-vocabulary amenity - the dictionary entry describing
        a possible hotel/room amenity. Returned by `GET /amenities`.
      properties:
        code:
          type: string
          description: Stable machine key in `category.slug` form; use for filtering.
          example: wellness.sauna
        category:
          type: string
          description: Grouping facet.
          example: wellness
        scope:
          type: string
          enum: [hotel, roomType, both]
          description: Where the amenity applies.
        valueType:
          type: string
          enum: [boolean, count, enum]
          description: Shape of the amenity's value.
        supportsFree:
          type: boolean
          description: Whether the paid/free distinction is meaningful for this amenity.
        label:
          allOf:
            - $ref: "#/components/schemas/LocalizedString"
          description: Localized display name.
        mappings:
          type: object
          nullable: true
          description: >-
            Interop mappings to external standards (schema.org, Google Lodging,
            Mews); filled incrementally.
          properties:
            schemaOrg:
              type: string
              nullable: true
            google:
              type: string
              nullable: true
            mews:
              type: string
              nullable: true
          example:
            schemaOrg: Sauna
            google: Wellness.sauna
            mews: PrivateSauna
    AmenityValue:
      type: object
      required: [code, available]
      description: >-
        Draft. An amenity's state on a specific hotel or room type. Resolve
        `code` against `GET /amenities` for its label, category and scope.
      properties:
        code:
          type: string
          description: References an `Amenity.code`.
          example: wellness.sauna
        available:
          type: boolean
          nullable: true
          description: >-
            Tri-state: `true` present, `false` absent, `null` unknown (not yet
            sourced). Responses omit pure unknowns, so `null` is rare.
        free:
          type: boolean
          nullable: true
          description: >-
            `true` included, `false` paid, `null` not applicable/unknown.
            Meaningful only when the amenity's `supportsFree` is true.
        quantity:
          type: integer
          nullable: true
          description: >-
            Count, when the amenity's `valueType` is `count` (e.g. parking
            spaces).
          example: 40
        condition:
          type: string
          nullable: true
          enum: [seasonal, dayOfWeek, underConstruction]
          description: Conditional availability; null when unconditional.
    AmenitiesList:
      type: object
      required: [data]
      description: >-
        Draft. The amenity dictionary, returned in full (a small controlled
        reference list, not paginated).
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Amenity"
